body {
    background-color: blue;
    font-family: Roboto, sans-serif;
}

h1 {
    color: #333;
}
h2{
    color: yellow;
}
p{
    color: #008000; 
}

.container {
    max-width: 960px;
    margin: 0 auto;
}
